nav ul {
   display: flex;
   flex-direction: row;
   justify-content: center
}

nav ul li {
    margin: 5%;
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
}

button {
    background-color: white;
    border: none;
    height: 300px;
    width: 300px;
    margin-top: 5%;
    cursor: pointer;
}

button img {
    height: 300px;
    width: 300px;
}
